*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

:root{
    --primary-color:#ede9e8;
    --secondary-color:#121212;
    --tertiary-color:#585757;
}

.dark-theme{
    --primary-color:#121212;
    --secondary-color:#fff;
    --tertiary-color:#707070;
}

body{
    background:	var(--primary-color);
    transition: background 500ms;
}

.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    width: 900px;
    max-width: 700px;
    align-items: center;
    z-index: 999;
    transition: .3s ease;
}

.sticky{
    background: #282828;
    border-radius: 10px;
    margin-top: 10px;
    transition: background 500ms;
}

.sticky .logo,.sticky .navlist a,.sticky .dark-btn{
    color: #ede9e8;
    
}


.logo{
    font-size: 2rem;
    color: var(--secondary-color);
    margin-left:8px;
    cursor: pointer;
}

.logo span{
    color: #05cbec;
}

.open-menu{
    display:none;
    width: 50px;
    height: 50px;
}

.open-menu span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 8px;
    top: 6px;  
    transition: .5s ease;  
}

.open-menu span:nth-child(2){
    top: 15px;
    width:20px;
    margin-left:18px;
}

.open-menu span:last-child{
    top: 24px;
}

.open-menu span.open:nth-child(1){
    transform: rotate(45deg);
    top: 14px;
}

.open-menu span.open:nth-child(2){
    display: none;
}

.open-menu span.open:last-child{
    transform: rotate(-45deg);
    top: 14px;
}

.sticky .open-menu span{
    background-color: #ede9e8;
}

.navlist{
    display: flex;
    list-style: none;
    
}

.navitems{
    margin: 0 10px;
}

.navitems a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: .3s ease-out;
}

.dark-btn{
    font-size: 1.5em;
    margin:auto 10px;
    color: var(--secondary-color);
}

.dark, .light{
    display: none;
}

.dark.on, .light.on{
    display: block;
    cursor: pointer;
}

.layout{
    margin:0 10px;
}

.home-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 
}

.home-image img{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

.home-text{
    max-width: 500px;
    margin-right: 20px;
    
}

.home-text h1{
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#typed{
    color: #05cbec; 
}

.home-text p{
    color: var(--tertiary-color);
    text-align: justify;
}

.home-text h1, .home-content p{
    margin: 10px 0;
}

.social-icons{
    font-size: 1.5rem;
    margin: 20px 2px;
}

.social-icons a{
    margin-right: 10px;
    color: var(--tertiary-color);
    transition: .3s ease-out;
}

.contact-btn{
    margin-top: 30px;
}

.contact-btn a{
    text-decoration: none;
    color: #121212;
    background-color: #05cbec; 
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #05cbec ;
    transition: .3s ease-out;
}

.social-icons a:hover, .navitems a:hover{
    color: #05cbec; 
}

.contact-btn a:hover{
    background-color: var(--primary-color); 
    color: var(--secondary-color);
    box-shadow: none;
}

.about{
    min-height: 100vh;
}

.title-section{
    display: flex;
    justify-content: center;
    padding: 80px 0;
    position: relative;
}

.title-section::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: var(--secondary-color);
    bottom:75px;
}

.title-section::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid var(--primary-color);
    background-color: #05cbec;
    bottom: 67px;
    transition: border 500ms;
}

.title-section h1{
    font-size: 1.8rem;
    color: var(--secondary-color);
}

@media only screen and (max-width:900px){
    .home-text h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:720px){
    .nav-layout{
        height: 100vh;
    }
    
    .navbar{
        width:100vw ;
        justify-content: space-between;
        margin-top: 0;
        
    }

    .sticky{
        border-radius: 0;
    }

    .mobile{
        display: flex;
        flex-direction: row-reverse;
    }

    .navlist{
        position: absolute;
        background: var(--primary-color);
        flex-direction: column;
        align-self: flex-start ;
        width: 100%;
        top: 50px;
        transition: background 500ms;
        display: none;
    }

    .navlist.open{
        display: block;
    }

    .sticky .navlist a{
        color: #121212;
    }

    .navitems{
        margin: 10px;
        
    }
    .open-menu{
        display:block;
        
    }
  
    .home-content{
        flex-direction: column;
    }

    .home-text, .home-image{
        margin: 0;
    }

    .home-image img{
        max-width: 300px;
        min-width: 200px;
    }

}

