*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color:#fff;
    --secondary-color:#121212;
}

.dark-theme{
    --primary-color:#121212;
    --secondary-color:#fff;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    width: 700px;
}

.logo{
    font-size: 2rem;
    color: var(--secondary-color);
}

.logo span{
    color: #00fff0;
}

.open-menu{
    display:block;
    width: 50px;
    height: 50px;
   
}

.open-menu span{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 8px;
    top: 6px;  
    transition: .5s ease;  
}

.open-menu span:nth-child(2){
    top: 15px;
}



.open-menu span:last-child{
    top: 24px;
}

.open-menu span.open:nth-child(1){
    transform: rotate(45deg);
    top: 12px;
}

.open-menu span.open:nth-child(3){
    transform: rotate(-45deg);
    top: 12px;
}

.open-menu span.open:nth-child(2){
    display: none;
}

.navlist{
    display: flex;
    list-style: none;
    
}

.navitems{
    margin: auto 10px;
}

.navitems a{
    text-decoration: none;
    color: var(--secondary-color);
}

.home{
    background-color: var(--primary-color);
}

.home-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 2rem;
    min-height: 100vh;
}

.home-image{
    justify-self: center;
    grid-area: 1/2;
    
}

.home-image img{
    max-width: 30vw;
    min-width: 380px;
}

.home-text{
    max-width: 500px;
    justify-self: flex-end;
}

#typed{
    color: #00fff0;
}

.home-text h1{
    font-size: 2rem;
    color: var(--secondary-color);
}

.home-text p{
    color: #808080;
    text-align: justify;
}

.home-text h1, .home-content p, .social-icons{
    margin: 20px 0 20px 10px;
}

.social-icons{
    font-size: 1.5rem;
}

.social-icons a{
    margin-right: 10px;
    color: var(--secondary-color);
}

.contact-btn{
    margin: 30px 0 20px 5px;
}

.contact-btn a{
    text-decoration: none;
    color: #121212;
    background-color: #00fff0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
}

@media only screen and (max-width:900px){
    .home-text h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:720px){
    .navbar{
        width:100vw ;
    }
   
    .navlist{
        position: absolute;
        display: block;
        width: 200px;
        height: fit-content;
        background-color: #808080;
        right: -300px;
        border-radius: 20px;
        transition: .5s ease;
    }

    .navlist.open{
        transform: translate(-50%, 50%);
        left: 50%;
        top: 50%;
    }

    .navitems{
        text-align: center;
        line-height: 2rem;
        margin: 20px;
    }
    
    .home-content{
        grid-template-columns: 1fr;
        margin: 0 10px;
    }

    .home-image{
        grid-area: 1;
    }

    .home-text, .home-image{
        justify-self: center;
    }

}

@media only screen and (max-width:420px){
    .home-image{
        min-width: 200px;
    }
} 