@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' ,sans-serif;
}

html{
    scroll-behavior: smooth;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 800px;
    transition: .3s ease-in-out;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

.logo{
    color: #eafdfb;
    margin: 0 20px;
    cursor: pointer;
}

.logo span{
    color: #00fff0;
}

.sticky{
    background-color: #2e3135;
    padding: 0 10px;
    margin-top: 10px;
}

.nav-bar{
    margin: 15px 0;
}

.nav-bar ul{
    list-style: none;
    display: flex;
}

.nav-links{
    color: #eafdfb;
    text-decoration: none;
    margin: 20px;
    font-weight: 500;
}


.nav-bar h4{
    display: none;
}

.open-menu{
    display: none;
    position: relative;
    margin: 10px 20px;
    width: 30px;
    height: 25px;
    border: 2px solid transparent;
}

.open-menu span{
    width: 30px;
    height: 3px;
    background-color: #eafdfb;
    position: absolute;
    border-radius: 2px;
}

.open-menu span::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #eafdfb;
    top:10px;
    border-radius: 2px;
}

.open-menu span::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #eafdfb;
    top:20px;
    border-radius: 2px;
}

.close-menu{
    display: none;
    position: relative;
    margin: 10px 0;
    border: 2px solid transparent  ;
    width:30px;
    height: 30px;
    
}

.close-menu span::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #111;
    transform: rotate(45deg);
    border-radius: 4px;
    top: 13px;
}

.close-menu span::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #111;
    transform: rotate(-45deg);
    border-radius: 4px;
    top: 13px;
}

#Home{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),  url(images/bg1.jpg) ,no-repeat, center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    
}



.main, .social-icons, .main-button{
    position: relative;
    top: 275px;
    display: flex;
    justify-content: center;
    color: #eafdfb;
    
}

.main h1{
   font-size: 3em;
   font-weight: 500; 
   z-index: 1;
}

.social-icons a{
    margin: 20px;
    font-size: 20px;
    color:#eafdfb ;
}

.main-button{
    margin: 20px;
}

.main-button a{
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid #00fff0;
    background-color: #00fff0;
    border-radius: 8px;
    color: #111;
}

.main-button a:nth-child(2){
    border: 1px solid #00fff0;
    background-color: transparent;
    color: #eafdfb;
    text-align: center;
    
}

.scroll-down{
    width: 30px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 350px;
}

.scroll-down span{
    position: absolute;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    animation: scrolldown 3s 100ms infinite;
    border-radius: 0 2px;
}

.scroll-down span::before{
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-top: none;
    border-left: none;
    margin: 8px;
    animation: scrolldown 3s 200ms infinite;
    border-radius: 0 2px;
}

.scroll-down span::after{
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-top: none;
    border-left: none;
    margin: 16px;
    animation: scrolldown 3s 300ms infinite;
    border-radius: 0 2px;
}

@keyframes scrolldown{
    25%{
        opacity: 0;
    }50%{
        opacity: 1;
    }75%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}


#typed{
    color: #00fff0;
}

#About{}

#About h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}




@media screen and (max-width:720px) {

    header{
        width: 100vw;
        
        
    }

    
    .nav-bar{
        position: absolute;
        top: 0;
        left:100%;
        background-color: #00fff0;
        height: 100vh;
        width: 50vw;
        padding: 20px;
        transition: .3s ease-in-out;
        margin: 0;
    }

    .nav-bar.open{
        left:50%;
    }

    .nav-bar ul{
        display: block;
    }

    .nav-bar ul li{
        margin: 20px 0;
    }

    .nav-bar h4{
        display: block;
        margin: 20px;
    }

    .nav-links{
        color: #2e3135;
        font-size: 16px;
    }

    .open-menu{
        display: block;
    }

    .close-menu{
        display: block;
        margin-bottom: 50px;
    }

    .sticky{
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    #Home{
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),  url(images/bg2.png) ,no-repeat, center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }

    .main h1{
        font-size:40px;
    }

    .main-button{
        display: grid;
    }

    .main-button a{
        font-size: 14px;
    }
}

@media screen and (max-width:420px){
    .main h1{
        font-size: 30px;
    }
}

@media screen and (max-width:320px){
    .main h1{
        font-size: 25px;
    }
}